/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2021, 11:25:19 PM
    Author     : EZIO AUDITORY
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.abousUs-area{
    width: 60%;
    height: 100%;
    background-color: white;
    margin: 0% auto;
    padding: 1%; 
    text-align: center;
    color: #666666;
}
.abousUs-area-title{
    font-size: 30px;
    font-weight: bolder;
    color: #ff3333;
    margin-top: 2%
}
.abousUs-area-subTitle{
    font-size: 25px;
    color: #333333;
    margin-top: 4%
}
.abousUs-area-content{
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-top: 4%
}
.abousUs-area-details{
    font-size: 20px;
    color: #666666;
    margin-top: 2%
}
.abousUs-area-details-tradeName{
    font-weight: bold;
}