/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2021, 10:21:45 PM
    Author     : EZIO AUDITORY
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.adminReg-area{
    width: 24%;
    height: 100%;
    background-color: white;
    padding: 60px 4%;
    margin: 3% auto;  
    border-radius: 8px;
    box-shadow: 2px 2px 16px #999999;
}
.adminReg-area-close-Icon{
    width: 30px;
    float: right;
}

.adminReg-area-title{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.adminReg-area-content{
    font-size: 20px;
    margin-top: 30px;
    color: #333333;
}
.adminReg-area-content span{
    color: red;
}
.adminReg-area-input{
    width:100%;
    height: 40px;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 16px;
    color: #333333;
    text-transform: none;
    border: 1.5px solid #ff3333;
    border-radius: 10px;
    outline: none;
}

.adminReg-area-errors{
    font-size: 11px;
    margin: 1%;
    color: red;
    text-transform: none;
}
.existAccount-error{
    margin-top: 30px;
    text-align: center;
}
.adminReg-area-button{
    width: 103%;
    height: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    background-color: #ff3333;
    border-radius: 10px;
    border: 1.5px solid #ff3333;
    outline: none;
}
.adminReg-area-input:hover{
    border: 1.5px solid #ff0033;
}

.adminReg-area-button:hover{
    background-color: #ff0033;
    border: 1.5px solid #ff0033;
    cursor: pointer;
}
.adminReg-area-deactivateAccount{
    font-size: 14px;
    text-align: center;
    text-transform: none;
    margin: 5% auto;
    color: black;
    
}
.adminReg-area-deactivateAccount a{
    cursor: pointer;
    text-decoration: none;
}  

.adminReg-area-verticale-line{
    width: 70%;
    height: 1px;
    margin: 5px auto;
    margin-top: 40px;
    background-color: #ff3333;
}




@media only screen and (max-width:1280px){   
.adminReg-area{
    width: 32%;
    padding: 60px 4%;
    margin: 3% auto;  
}   
}
@media only screen and (max-width:1024px){
.adminReg-area{
    width: 42%;
    padding: 60px 4%;
    margin: 3% auto;  
}    
}
@media only screen and (max-width:768px){
.adminReg-area{
    width: 56%;
    padding: 60px 4%;
    margin: 3% auto;  
}   
}

@media only screen and (max-width:480px){
.adminReg-area{
    width: 82%;
    padding: 60px 4%;
    margin: 3% auto;  
}  
}


@media only screen and (max-width:320px){
.adminReg-area{
    width: 90%;
    padding: 40px 4%;
    margin: 3% auto;  
} 

.adminReg-area-title{
    font-size: 30px;
    margin-bottom: 30px;
}

.adminReg-area-content{
    font-size: 18px;
    margin-top: 30px;
}

.adminReg-area-input{
    height: 40px;
    margin-top: 8px;
    font-size: 14px;
}

.adminReg-are-button{
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
}

.adminReg-area-verticale-line{
    margin: 10px auto;
    margin-top: 30px;
}

    
}

