*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.menuIcon{
    display: none;
}
header nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: 1px 1px 5px #999999;  
}
.logo{
    width: 180px;
    position: absolute;
    margin-top: 12px;
    margin-left: 4%;
    font-size: 30px;
    color: #000000;
}
.main-ul{
    list-style: none;
    margin-left: 30%;   
}
.main-li{
    display: inline-block;
    margin-left: 2%;
    margin-top: 24px;
}
.login{
    font-weight: bolder;
    margin-left: 30%;   
}
.main-li a{
     color: #666666;
}
.main-li a:hover{
    color: #000000;
}
.loginAccount-button a{
    color:  #ff3333;
}
.loginAccount-button a:hover{
    color: #ff0033;
}
.account-button-activeUsername{
    text-transform: none;
}
/*.login-button a:hover{
   color:  #ff3333;
}*/
.logout-button{
    display: none;
}

/*----------Submenu----------------------------------------------------*/

.submenu {
    width: 120px;
    display: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 1px;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #999999;
    z-index: +2;
}

.sub-ul{
    margin: 10px 0px;
    padding: 0px;    
}

.sub-li{
   display: block;
   margin-top: 5px;
   padding: 10px 20px; 
}

.main-li:hover .submenu{
    display: block;
    position: absolute;
}

.sub-li:hover{
    background-color: #cccccc;    
}
.submenu a{
    color: #000000;
}
.sub-li a:hover {
    color: #000000;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width:1500px){

.logo{
    margin-left: 2%;
}
.main-ul{
    list-style: none;
    margin-left: 20%;  
}

.login{
    margin-left: 20%;   
}

}



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width:1280px){

.logo{
    margin-left: 2%;
}
.main-ul{
    list-style: none;
    margin-left: 20%;  
}

.login{
    margin-left: 20%;   
}

}




/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width:1070px){
header nav{
    height: 60px;
    font-size: 16px;  
}
.logo{
    font-size: 26px;
    margin-left: 2%;
}
.main-ul{
    margin-left: 25%;    
}
.login{
    margin-left: 12%;   
}

/*----------Submenu----------------------------------------------------*/

.submenu {
    font-size: 12px;
}
.sub-li{
   padding: 8px 16px; 
}
    
}



@media only screen and (max-width:900px){

.logo{
    margin-left: 2%;
}
.main-ul{
    margin-left: 25%;    
}
.main-li{
    margin-left: 1%;
}
.login{
    margin-left: 5%;   
}    
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:768px){

header nav{
    height: 60px;
    background-color: #ffffff;
    font-size: 20px;
    box-shadow: 1px 1px 5px #999999; 
   
}
.logo{
    margin-top: 12px;
    font-size: 30px;
    margin-left: 40%;
    text-align: center;
    float: left;
}
.menuIcon{
    position: absolute;
    display: block;
    width: 32px;
    margin-top: 10px;
    padding: 1%;
    font-size: 25px;
    margin-left: 2%;
    cursor: pointer;
}
.side-menu{
    padding-top: 61px;
    text-align: left;  
    width: 100%;
}
.side-menu-container{
    width: 50%;
    height: 800px;
    background-color:#ffffff;
    box-shadow: 2px 2px 5px #999999; 
    position: relative;
    margin-left: -400px;
    transition-duration: 1s;
    z-index: 2;
}
.slide{
    width: 50%;
    height: 800px;
    background-color:#ffffff;
    box-shadow: 1px 1px 5px #999999; 
    position: relative;
    margin-left: 0px;            
}
.main-ul{
    margin-left: 0%;
    padding-left: 0px;   
}
.main-li{
    display:block;
    margin-left: 0%;
    margin-top: 0px;
    padding: 6%;
    border-bottom: 1px solid  #666666;
}
.login{
    margin-left: 0%;   
}
.main-li:hover{
    background-color: #cccccc;
}
.main-li a:hover {
    color:#666666;
}
.login-button a{
    color: #ff3333;
}
.account-button a{
    color: #ff3333;
}

.login-button a:hover{
    color: #ff3333;
}
.account-button a:hover{
    color: #ff3333;
}
.logout-button a{
    display: block;
    color: #ff3333;
}
.logout-button a:hover{
    color: #ff3333;
}


/*----------Submenu----------------------------------------------------*/

.main-li:hover .submenu{
    display: none;
}    
}




/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width:480px){

header nav{
    height: 50px;
    font-size: 16px;   
}
.logo{
    margin-top: 6px;
     margin-left: 30%;
    font-size: 24px;
}
.menuIcon{
    width: 32px;
    margin-top:8px;
    padding: 1%;
    font-size: 20px;
    margin-left: 2%;
}
.side-menu{
    padding-top: 51px; 
}
.side-menu-container{
    width: 50%;
    height: 400px;
    margin-left: -400px;
}
.slide{
    width: 50%;
    height: 400px;
    margin-left: 0px;            
}
.main-ul{
    margin-left: 0%;
    padding-left: 0px;   
}
.main-li{
    margin-left: 0%;
    margin-top: 0%;
    padding: 4%;
}  
}




/*------------------------------------------------------------------------------------------------------------------------------------------------------*/




@media only screen and (max-width:320px){

header nav{
    font-size: 16px;
}
.logo{
    margin-top: 6px;
     margin-left: 25%;
    font-size: 20px;
}
.menuIcon{
    margin-top:10px;
    padding: 1%;
    font-size: 16px;
    margin-left: 2%;
}
.side-menu{
    padding-top: 51px;
    text-align: left;  
}
.side-menu-container{
    width: 100%;
    height: 450px;
    margin-left: -400px;
}
.slide{
    width: 100%;
    height: 450px;
    margin-left: 0px;            
}
.main-ul{
    margin-left: 0%;
    padding-left: 0px;   
}
.main-li{
    margin-left: 0%;
    margin-top: 0%;
    padding: 5%;
}

}