/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2021, 8:14:18 PM
    Author     : EZIO AUDITORY
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.searchBar-area{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 1%;
}
.searchBar{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    font-size: 20px;
    text-transform: none;
    outline: none;
    border-radius: 10px;
    padding-left: 16px;
    border: 2px solid #ff3333;
    color: #333333;
}
.searchButton{
    width: 100px;
    height: 44px;
    margin-left: -6.6%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #ff3333;
    outline: none;
    border: 2px solid #ff3333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchBar:hover{
    border: 2px solid #ff0033;
}
.searchButton:hover{
    background-color: #ff0033;
    border: 2px solid #ff0033;
    cursor: pointer;
}


.search-area{  
    width: 90%;
    height: 100%;
    background-color: white;
    margin: 0% auto;
    padding: 1%;    
}

.search-area-product{
    display: inline-table;
    width: 300px;
    margin: auto;
    border-radius: 4px;
}

.search-area-product-img{
    opacity: 1;
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999999;
}

.search-area-product-img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.searchNotFound-area{
    width: 50%;
    height: 100%;
    margin: 1% auto;
    padding: 2%;
}
.searchNotFound-area-header{
    font-size: 25px;
    font-weight: 500;
    color:  #333333;
    margin: 2% 0%;
}
.searchNotFound-area-ul{
    margin: 4% 4%;
}
.searchNotFound-area-li{
    color: #666666;
    margin: 2% 0%;
}





@media only screen and (max-width:1280px){
.searchBar{
    margin-left: 24%;
}
}


@media only screen and (max-width:1054px){
.searchBar{
    margin-left: 23%;
}  
}





@media only screen and (max-width:768px){
.searchBar{
    margin-left: 22%;
}
.searchNotFound-area-header{
    font-size: 20px;
    margin: 2% 0%;
}
}
@media only screen and (max-width:480px){
.searchBar{
    margin-left: 17%;
}
}
@media only screen and (max-width:360px){
    
.searchBar{
    margin-left: 12%;
}
}